resourcegroup_name_resources="aif_standardagent_resources"
resourcegroup_name_dns="aif_standardagent_dns"
resourcegroup_name="aif_standardagent"

subscription_id_resources="eca***"
subscription_id_infra="eca***"

location="germanywestcentral"
location_resources="westeurope"